.media-label {
  padding: 1px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media-label .media-rm,
.media-label:not(.media-loading, .media-uploaded) {
  cursor: pointer;
}

.media-label .media-sp,
.media-label .media-bg,
.media-label .media-rm {
  color: rgba(33, 37, 41, 0.4);
  position: absolute;
  z-index: 1;
}

.media-label .media-bg {
  font-size: 2em;
}

.media-label .media-rm {
  color: rgba(33, 37, 41, 0.6);
  border-radius: 100%;
  background-color: rgba(255, 255, 255, .6);
  padding: 0 4px;
}

.media-label .media-preview {
  max-width: 100%;
  max-height: 100%;
}

.media-label .media-sp,
.media-label .media-rm,
.media-loading .media-bg,
.media-uploaded .media-bg {
  display: none;
}

.media-label:hover .media-bg {
  color: rgba(33, 37, 41, 0.6);
}

.media-loading .media-sp,
.media-uploaded:hover .media-rm {
  display: block;
}

.media-loading .media-preview,
.media-uploaded:hover .media-preview {
  opacity: .8;
}
