parameters:
    level: 9
    paths:
        - config
        - src
        - tests
        - translations
    bootstrapFiles:
        - tools/vendor/bin/.phpunit/phpunit/vendor/autoload.php
    ignoreErrors:
        - '#no value type specified in iterable type array#'
        - '#no value type specified in iterable type iterable#'
        - '#does not specify its types: TData#'
        - { message: '#Call to function is_string\(\) with string will always evaluate to true#', path: src/Form/DataTransformer/MediaReferenceToHashTransformer.php }
        - { message: '#Trying to invoke mixed but it''s not a callable#', path: src/Controller/MediaController.php }
